{% extends "../layout.html" %}
{% load staticfiles %}
{% block title %} 나는 디테일 {% endblock %}

<body>
{% block contents %} 
<div class="wrapper">
    <div class = "header">
        <div class="col-12 col-center mw-1200 pr15 pl15">
            <div class = "top_header pt50">
                <div class="login_menu">
                    <ul class = "login_ul">
                        <li><a href="javascript:void(0)"><span>HOME</span></a></li>
                        <li><a href="javascript:void(0)"><span>LOGIN</span></a></li>
                        <li><a href="javascript:void(0)"><span>MY PAGE</span></a></li>
                    </ul>

                    <div class = "main_menu">
                        <ul class = "menu_ul hidden show-md-block">
                            <li class = "active">
                                <a href="javascript:void(0)">
                                    <span>공원소개</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>
                                        공원안내
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>
                                        예약안내
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>참여/알림</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>



            </div>
        </div>
    </div>

    <div class="col-12 col-center mw-1200 pr15 pl15 main_con">
        <div class="gnb">
            <div class="gnb_top_menu">
                <h3 class = "gnb_top_menu_title">도심속 힐링공간<br>
                    위븐공원소개</h3>
                <hr class="h_line3">

                <div class="h_des3">
                    위븐테마공원은 아름다운 산과
                    풍성한 숲 그리고 아름다운 호수가
                    함께하는 도심속의 힐링공간

                </div>
            </div>

            <div class="gnb_menu_list hidden show-md-block">
                <ul class = "gnu_menu_list_ul">
                    <li>
                        <a href="javascript:void(0)">
                            <span>
                                공원소개
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <span>시설현황</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class = "click">
                                이용안내
                            </span>
                        </a>
                        <ul class = "inner_ul">
                            <li>
                                <a href = "javascript:void(0)">
                                    <span>
                                    이용시간 및 요금
                                    </span>
                                </a>
                            </li>
                            <li class = "click">
                                <a href="javascript:void(0)">
                                    <span>
                                        편의시설
                                    </span>
                                </a></li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>
                                        공원안내지도
                                    </span>
                                </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>
                                주차안내
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>
                                찾아오시는 길
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="right_content">
            <div class="content_top_menu">
                <h4 class = "h4_title">공원소개</h4>
            </div>

            <div class="main_content">
                <h3 class ="h3_title">
                    국내최초로 시도한<br class ="">
                    건강공원길
                </h3>

                <div class="h3_des">
                    <div class = "img_box">
                    </div>
                    위븐테마공원에서는 5개의 주요 메인테마관과 2개의 식물체험관으로 구성되어 있으며 2006년도에 준공되어 워싱턴 야자수를 비롯하여 전체 310개종류, 9,975본의 다양한 식물들이 사계절 내내 전시되고 있습니다.<br><br>

                    위븐테마공원에는 426m의 나지막한 산으로 대전의 동쪽에 위치해 있고 산세가 완만해서 남녀노소 누구나 오를수 있으며, 금강과 갑천 그리고 멀리 대청호의 풍경이 한눈에 들어온다. 계족산 황톳길을 테마로 숲속 맨발걷기, 숲속 음악회 등 다양한 프로그램이 운영되는 전국 최초로 시도한 건강여행길입니다.<br>
                    2008년 여행 전문기자들이 뽑은 '다시 찾고 싶은 여행지 33선' 에 선정됐고, 2009년에는 한국관광공사에서 뽑은 '5월에 꼭 가봐야 할 명소' 와 2013년부터 도입된 한국관광 100선에 3회 연속 선정된 힐링의 명소입니다.<br><br>

                    위븐 자연생태박물관에서는 매주 일요일 뚝딱뚝딱 자연공작소을 진행하고 있으며 다양한 자연물을 이용한 만들기 체험을 통해 생태적 감수성을 키우고 자연과 더 가까워 질 수 있는 기회와 다시 찾는 마음을 갖도록 구성된 체험으로 2월에는 '꿀벌 브로치 만들기' 가 진행되며 관람객 여러분의 많은 관심과 참여를 부탁드립니다.<br><br>
                </div>




            </div>

        </div>
    </div>
</div>



<style>
    .header{background-image: url("./top_back.png"); background-size: cover;}
    .top_header{overflow: hidden; padding-bottom: 185px; padding-top: 100px;}
    .login_menu {overflow: hidden; float:left;}
    .login_ul{  margin-bottom:25px;}
    .login_menu .login_ul>li { display:inline-block; position: relative;  margin-right:25px; font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem;  color: #ffffff;;}
    .login_menu .login_ul>li:after {content: "|"; position:absolute;  display:inline-block; opacity: 0.3;left:40px;}
    .login_menu .login_ul>li:last-child:after {display: none;}
    .logo{float:right; display:inline-block; font-size:0px; line-height: 0px; width:80px;}
    .main_menu{overflow: hidden;}
    .menu_ul{float:left;}
    .menu_ul>li{display:inline-block; color:#fff; font-size:17px; font-size:1.7rem; line-height:23px; line-height:2.3rem; margin-right:49px; padding-bottom: 10px;}
    .menu_ul>li.active{ border-bottom: 2px solid #75b40d; font-weight: 400;}
    
    @media all and (min-width:768px) {
        .logo{float:right; display:inline-block; font-size:0px; line-height: 0px; width:auto;}
    }
    
    
    
    
    .final_left_cont{background-color: #FFFFFF;  display: none;}
    .final_left_cont .img_box{padding-top:223px; text-align: right; padding-right: 105px; display: block;}
    .final_right_cont{background-color: #75b40d; }
    .final_right_content {padding-bottom:160px; margin-top:-34px; text-align: center;}
    .final_right_content .h4_title{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#FFFFFF; margin-bottom:10px; z-index: 50}
    .final_right_content .h4_des{font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;  color:#dceacc; margin-bottom: 27px;}
    .final_right_content .h4_line{border-bottom: 2px solid #FFFFFF; width: 57px; display: block; margin-bottom: 27px; margin-left: auto; margin-right: auto;}
    .final_right_content .contact { color:#FFFFFF; font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;  margin-bottom: 5px;}
    .final_right_content .pnum{font-size:25px; font-size:2.5rem; line-height:31px; line-height:3.1rem;  color:#FFFFFF;}
    .footer_content_end .align_right{float:right;}
    .footer_content{margin-bottom:40px; overflow: hidden;}
    .footer_ul{margin-bottom: 20px;}
    .footer_content .footer_ul>li{display:inline-block; color:#FFFFFF; font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem; margin-right:14px; letter-spacing: -0.1em; padding-top:5px;}
    .footer_content .footer_ul>li:last-child {margin-left: 0px;}
    .footer_content .footer_ul>li:after{content: "|"; margin-left: 14px;}
    .footer_content .footer_ul>li:last-child:after{content : "";margin-left: 0px;}
    .foot_img_list .footer_img_ul{margin-top: 10px; margin-left: 128px; margin-bottom: 30px;}
    .foot_img_list .footer_img_ul>li{margin-bottom: 14px; margin-right: 45px; display: inline-block;}
    .footer_extra_con{
        padding-right: 0px;}
    .footer{padding-top:70px; background-color:#323339; padding-bottom:85px;}
    .footer .addr {font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem; color:#999a9c; margin-bottom: 34px;}
    .footer_left .img_box{float:none; margin-right:50px; margin-right:auto; margin-left:auto; margin-bottom: 50px;}
    .fln{float:none;}
    .family_site{float:right; color:#FFFFFF; font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem; padding-bottom:14px; }
    .final{padding-top:50px;}
    .final .final_line {margin:0px auto; border-bottom: 2px solid #FFFFFF; width: 30px; display: block; margin-bottom: 10px;}
    .final .final_desc {color:#FFFFFF; text-align: center; font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem; }
    .final .img_box{display: block; text-align: center; margin-bottom: 15px; }
    [name = "job"] {background-color: transparent; color:#FFFFFF; padding-right:20px; outline: none; border:none;
        border-bottom:1px solid  #fff; padding-bottom: 15px; background: url('../img/arr_b.png') no-repeat 95% 30%;       -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;         }
    option{color:black;}
    .park_media{text-align: center;}
    .right_img{display: none;}
    .footer_content .center{display:block; width: 100%; margin-bottom:50px; text-align: center;}
    
    @media all and (min-width: 992px) {
        .footer_extra_con{
            padding-left: 136px;}
        .footer_left .img_box{float:left; margin-right:50px; margin-right:auto; margin-left:auto;}
        .final_left_cont{background-color: #FFFFFF;  display: block;}
        .final_right_content {padding-bottom:160px; padding-left:60px; margin-top:-34px;}
        .final_right_content .h4_des{font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;  color:#dceacc; margin-bottom: 27px;  padding-right:60px;}
        .final_right_content {padding-bottom:160px; margin-top:-34px; text-align: left;}
        .final_right_content .h4_line{border-bottom: 2px solid #FFFFFF; width: 57px; display: block; margin-bottom: 27px; margin-left: 0; margin-right: 0;}
        .final{padding-top:0px;}
        .foot_img_list .footer_img_ul{margin-top: 10px; margin-left: 136px; margin-bottom: 78px;}
        [name = "job"] {background-color: transparent; color:#FFFFFF; padding-right:100px; outline: none; border:none;
            border-bottom:1px solid  #fff; padding-bottom: 15px;  }
    }
    
    
    .top_header{overflow: hidden; padding-bottom: 185px;}
    .login_menu {overflow: hidden; float:left;}
    .login_ul{  margin-bottom:25px;}
    .login_menu .login_ul>li { display:inline-block; position: relative;  margin-right:25px; font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem;  color: #ffffff;;}
    .login_menu .login_ul>li:after {content: "|"; position:absolute;  display:inline-block; opacity: 0.3;left:40px;}
    .login_menu .login_ul>li:last-child:after {display: none;}
    .logo{float:right; display:inline-block; font-size:0px; line-height: 0px; width:80px;}
    .main_menu{overflow: hidden;}
    .menu_ul{float:left;}
    .menu_ul>li{display:inline-block; color:#fff; font-size:17px; font-size:1.7rem; line-height:23px; line-height:2.3rem; margin-right:49px; padding-bottom: 10px;}
    .menu_ul>li.active , .menu_ul>li:hover{ border-bottom: 2px solid #75b40d; font-weight: 400;}
    .main_con{overflow: visible;}
    .gnb{width:270px; margin-top: -100px; text-align: center;}
    .gnb .gnb_top_menu {background-color:#75b40d; padding:55px 50px;  }
    .gnb_top_menu .gnb_top_menu_title {color:#fff; font-size:24px; font-size:2.4rem; line-height:30px; line-height:3.0rem;  margin-bottom: 22px;}
    .gnb_top_menu .h_line3{width:44px; border-bottom: 2px solid #fff;  margin-bottom: 21px;margin-right: auto; margin-left:auto;}
    .h_des3{font-size:12px; font-size:1.2rem; line-height:18px; line-height:1.8rem; color:#fff;}
    .gnb_menu_list {background-color:#f7f7f7; padding:35px 50px 60px 50px; }
    .gnb_menu_list .gnb_menu_list_ul{}
    .gnb_menu_list .gnu_menu_list_ul>li {font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; border-bottom: 1px solid #ececec;}
    .gnb_menu_list .gnu_menu_list_ul>li>a {padding-bottom: 13px; padding-top: 13px; display: block;}
    
    .gnb_menu_list .gnu_menu_list_ul>li:last-child {border-bottom: none;}
    .gnb_menu_list .gnu_menu_list_ul>li>a>span.click{border-bottom: 2px solid #75b40d; color:#75b40d; display: block;display: block; padding-bottom: 12px; background: url("../img/green_check.png") no-repeat right center; }
    .gnb_menu_list .gnu_menu_list_ul>li:hover{color:#75b40d; }
    .inner_ul{padding-left:25px; color:#868686; padding-top:10px;  padding-bottom: 23px;}
    .inner_ul>li{margin-left:10px; color:#868686; font-size:13px; font-size:1.3rem; line-height:26px; line-height:2.6rem; list-style-image: url("../img/circle_none.png"); }
    .inner_ul>li.click{color:#000000; list-style-image: url("../img/circle_active.png");}
    .inner_ul>li:hover{color:#000000; list-style-image: url("../img/circle_active.png");}
    
    .content_top_menu{overflow: visible; padding-bottom: 75px;  padding-top: 55px;}
    
    .content_top_menu{overflow: visible; padding-bottom: 75px;  padding-top: 55px;}
    .content_top_menu .h4_title{font-size:17px; font-size:1.7rem; line-height:23px; line-height:2.3rem; padding-bottom: 10px; border-bottom: 2px solid #000000; float: left;}
    .content_top_menu .other_menu{float: right;}
    .other_menu .btn_text{display: inline-block; font-size:12px; font-size:1.2rem; line-height:18px; line-height:1.8rem; margin-right: 9px; vertical-align: middle; }
    .other_menu .plus_btn , .other_menu .minus_btn{border:1px solid #e5e5e5; display: inline-block; padding: 10px; vertical-align: middle; margin-right: -3px; width: 11px;  height: 13px;;}
    .other_menu .minus_btn{margin-right: 20px; padding:10px;}
    .other_menu .print_btn{border:1px solid #e5e5e5; display: inline-block; padding: 10px; vertical-align: middle; width: 11px; }
    .card_con{text-align: center;}
    
    .main_content .h3_title{font-size:29px; font-size:2.9rem; line-height:35px; line-height:3.5rem;   margin-bottom: 40px;
        text-align: center;}
    .main_content .h3_des{font-size:13px; font-size:1.3rem; line-height:26px; line-height:2.6rem; margin-bottom: 105px;}
    .right_content .h3_des .img_box{ margin:50px 0px;  text-align: center;}
    .img_list1 { margin-bottom: 115px;}
    .img_list1 .img_box{  text-align: center; height:70px;}
    .img_list1 .img_con .text_box{font-size:13px; font-size:1.3rem; line-height:23px; line-height:2.3rem;  text-align:center; }
    .img_list2 {margin-bottom: 60px;}
    .main_content .h3_des{font-size:13px; font-size:1.3rem; line-height:26px; line-height:2.6rem; margin-bottom: 105px;}
    .img_bear{  text-align: center; margin-bottom:-25px;}
    
    @media all and (min-width:992px) {
        .img_bear{  text-align: right; margin-bottom:-25px;}
        .logo{float:right; display:inline-block; font-size:0px; line-height: 0px; width:auto;}
        .content_top_menu{overflow: hidden; padding-bottom: 75px;  padding-top: 105px;}
        .main_content{width: calc(100% - 375px); float:left;}
        .right_content .h3_des .img_box{float:right;  margin-left: 115px;  margin-bottom: 145px; margin-top: 0; }
        .main_content .h3_title{font-size:36px; font-size:3.6rem; line-height:42px; line-height:4.2rem;  margin-bottom: 40px;
            text-align:left;}
        .gnb{width:270px;  margin-right: 105px; float:left; margin-top: -135px; text-align: left;}
        .gnb_top_menu .h_line3{width:44px; border-bottom: 2px solid #fff;  margin-bottom: 21px; margin-left: 0; margin-right: 0;}
        .card_con{ width:calc(33.33% + 15px); margin-right: -15px;  overflow: hidden;  text-align:left;}
    }
    
    .CONTENT > P > SPAN{}
    /* Reset */
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
    address, big, cite, code, del, dfn, em, font, img, ins,
    q, s, samp, small, strike, strong, sub, sup, tt, var, b,
    u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: none 0;}
    caption {text-indent:-10000px;}
    html { font-size: 10px; }
    html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
    body {background-color:#fff; color:#000; line-height: 1.2; font-weight: 300; font-family:"Noto Sans Korean", "돋움", Dotum, Verdana, Helvetica, Sans-serif !important;}
    input, button, textarea {font-family: inherit; font-size:1.2rem; color:#000;}
    h1, h2, h3, h4, h5, h6 {letter-spacing: 0; font-weight:normal;}
    img, fieldset, iframe {border:0 none;}
    table {border-collapse: collapse;}
    select, textarea {font-family: inherit; border: 1px solid #B7B6B6; background: #FFFFFF; color: #7c7c7c; font-size: 12px; font-size: 1.2rem; vertical-align: middle;}
    textarea {overflow:auto;}
    select, input, img, li {vertical-align: middle; text-align:inherit;}
    address, caption, cite, code, dfn, em, strong, th, var {font-style : normal; font-weight : 900;}
    ul, li, ol {list-style-type: none;}
    legend,  caption {display: none;}
    hr {border-collapse:collapse; margin: 0; border: none;}
    a:link, a:visited {text-decoration:none; color:inherit;}
    a:hover {text-decoration:none;}
    input[type="button"] {-webkit-appearance: none;}
    i {line-height: 0.8em !important;}  /* 아이콘 vertical middle 위해 */

    .col-12{width:100%;}
    .mw-1200{max-width: 1200px;}
    .col-center{margin:auto;}    
</style>
{% endblock %}
</body>