{% extends "../layout.html" %}
{% load staticfiles %}
{% block title %} 나는 디테일 {% endblock %}

<body>
{% block contents %} 
<div class="taewan">홍익대학교 김태완입니다!!</div>
    <div class="taewan_cont">자바스크립트로 간단한 게임을 만들었습니다</div>







<canvas id="myCanvas" width="480" height="320"></canvas>
<iframe width="1" height="1" transparent="0" src="https://www.youtube.com/embed/qLp1i6-lHqI?autoplay=1" allow='autoplay' frameborder="0" wmode="transparent"  allowfullscreen></iframe>

<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    var paddleHeight = 10;
    var paddleWidth = 75;
    var paddleX = (canvas.width - paddleWidth)/2;

    var x = canvas.width/2;
    var y = canvas.height-30;
    var dx = 2;
    var dy = -2;
    var rightPressed = false;
    var leftPressed = false;
    var ballRadius = 10;
    var score = 0;
    var lives = 3;



    var brickRowCount = 3;
    var brickColumnCount = 5;
    var brickWidth = 75;
    var brickHeight = 20;
    var brickPadding = 10;
    var brickOffsetTop = 30;
    var brickOffsetLeft = 30;
    var bricks = [];
    for(var c=0; c<brickColumnCount; c++) {
        bricks[c] = [];
        for(var r=0; r<brickRowCount; r++) {
            bricks[c][r] = { x: 0, y: 0 , status: 1}; //브릭의 키값에 상태를 넣어준다
        }
    }
    function drawBricks() {
        for(var c=0; c<brickColumnCount; c++) {
            for(var r=0; r<brickRowCount; r++) {
                if(bricks[c][r].status == 1) {
                    var brickX = (c*(brickWidth+brickPadding))+brickOffsetLeft;
                    var brickY = (r*(brickHeight+brickPadding))+brickOffsetTop;
                    bricks[c][r].x = brickX;
                    bricks[c][r].y = brickY;
                    ctx.beginPath();
                    ctx.rect(brickX, brickY, brickWidth, brickHeight);
                    ctx.fillStyle = "#0095DD";
                    ctx.fill();
                    ctx.closePath();
                }
            }
        }
    }
    function drawLives() {
        ctx.font = "16px sans-serif";
        ctx.fillStyle = "#0095DD";
        ctx.fillText("Lives: "+lives, canvas.width-65, 20);
    }
    function mouseMoveHandler(e) {
        var relativeX = e.clientX - canvas.offsetLeft;
        if(relativeX > 0 && relativeX < canvas.width) {
            paddleX = relativeX - paddleWidth/2;
        }
    }


    function collisionDetection() {
        for(var c=0; c<brickColumnCount; c++) {
            for(var r=0; r<brickRowCount; r++) {
                var b = bricks[c][r];
                if(b.status == 1) {
                    if(x > b.x && x < b.x+brickWidth && y > b.y && y < b.y+brickHeight) {
                        dy = -dy;
                        b.status = 0;
                        score++; //스코어
                        if(score == brickRowCount*brickColumnCount) {
                            alert("승리 했습니다!");
                            document.location.reload(); //이게 없으면 게임오버 하고 그대로 멈추니 refresh 눌러줘야 시작하는걸 대신해줌
                            clearInterval(interval); // 크롬에서 게임을 끝내려면... 
                            
                        }
                    }
                }
            }
        }
    }
    function drawScore() {
        ctx.font = "16px sans-serif";
        ctx.fillStyle = "#0095DD";
        ctx.fillText("Score: "+score, 8, 20);
    }
    function keyDownHandler(e) {
        if(e.keyCode == 39) {
            rightPressed = true;
        }
        else if(e.keyCode == 37) {
            leftPressed = true;
        }
    }

    function keyUpHandler(e) {
        if(e.keyCode == 39) {
            rightPressed = false;
        }
        else if(e.keyCode == 37) {
            leftPressed = false;
        }
    }
    function drawBall() {
        ctx.beginPath();
        ctx.arc(x, y, ballRadius, 0, Math.PI*2);
        ctx.fillStyle = "#0095DD";
        ctx.fill();
        ctx.closePath();
    }
    function drawPaddle() {
        ctx.beginPath();
        ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
        ctx.fillStyle = "#0095DD";
        ctx.fill();
        ctx.closePath();
        if(rightPressed && paddleX < canvas.width-paddleWidth) {
            paddleX += 7;
        }
        else if(leftPressed && paddleX > 0) {
            paddleX -= 7;
        }
    }

    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawBall();
        if(x + dx > canvas.width-ballRadius || x + dx < ballRadius) {
        dx = -dx;
        }
        if(y + dy < ballRadius) {
            dy = -dy;
        } else if(y + dy > canvas.height-ballRadius) {
            if(x > paddleX && x < paddleX + paddleWidth) {
                dy = -dy;
            }
            else {
                lives--;
                if(!lives) {
                    alert("패배 했습니다!");
                    document.location.reload(); //이게 없으면 게임오버 하고 그대로 멈추니 refresh 눌러줘야 시작하는걸 대신해줌
                    clearInterval(interval); // 크롬에서 게임을 끝내려면...
                }
                else {
                    x = canvas.width/2;
                    y = canvas.height-30;
                    dx = 2;
                    dy = -2;
                    paddleX = (canvas.width-paddleWidth)/2;
                }
            }
        }
        x += dx;
        y += dy;
        drawPaddle();
        drawBricks();
        collisionDetection();
        drawScore();
        drawLives();

        
        
        
    }
    document.addEventListener("mousemove", mouseMoveHandler, false);
    document.addEventListener("keydown", keyDownHandler, false);
    document.addEventListener("keyup", keyUpHandler, false);
    
    setInterval(draw, 10);



    
</script>

</body>
<style>
    body{
        background-color: black;
    }
    .taewan{
        font-family: sans-serif;
        font-size: 8rem;
        color:peachpuff;
        text-align: center;

    }
    .taewan_cont{
        font-family: sans-serif;
        font-size: 3rem;
        color:white;
        text-align: center;

    }
</style>
{% endblock %}
</body>    